
body{
  font-family: 'Lato', sans-serif;
  padding:0;
  margin:0;
}

main{
  max-width: 1200px;
  min-width: 1040px;
  height: 100%;
  background: transparent;
  position:relative;
}

.portfolio {
  width: 100%;
  background-color: #2d303a;
  height: 864px;
  border-bottom: 6px solid #323746;
  display: flex;
  justify-content: center;
 }

.container{
  margin: 60px 50px;
  position: relative;
  max-width: 940px;
}

header h1 {
  font-size: 30px;
  color: #666d89;
  font-weight: 900; 
  margin: 0 0 22px 0;
}

header p {
  font-size: 18px;
  font-weight: 300;
  color: #767e9e;
}

nav ul{
  margin:-4px 0 23px -46px;
}

nav li{
  display: inline-block; 
}

nav a{
  color: #767e9e;
  text-decoration: none;
  padding:2px 6px 3px 6px;
  margin-left: 7px;
  font-size: 12px;
  font-weight: 400;
  border:1px solid #767e9e;
  border-radius: 5px;
}

.active a {
  color: #dedede;
  border: 1px solid #c5c5c5;
  text-decoration: none;
}

.active a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  width: 220px;
  height: 187px;
}

.aboutus {
  width: 100%;
  height: 728px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  display: flex;
  justify-content: center;
}

.aboutus h1{
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  margin-bottom: 7px;
  letter-spacing: -0.1px;
}

.aboutus p{
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  width: 940px;
  text-align: justify;
}

.img {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  width: 300px;
  height: 300px; 
  padding-top: 26px;
}

.personinfo{
  display:grid;
  grid-template-columns: 310px 310px 310px;
  grid-gap:10px;
}

.social h1{
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
}

.social p{
  width: 301px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  margin-top: 0px;
  word-spacing: 0.3px;
  letter-spacing: -0.08px;
}

.media img {
  display:inline-block;
  padding: 13px 5px 0 0;  
}

.media a:hover{
  opacity: .55;
}
