
body{
  width: 1020px;
  font-family: Lato;
  padding:150px;
  padding-top: 0px;
  font-family: 'Lato', san-serif;
}

.header {
  height: 870px;
  background-color: #2d303a;
  padding: 40px;
  overflow: hidden;
 }

.header h1 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900px; 
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;

}

.header p {
  width: 940px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300px;
}


.navbar{
  display: inline;
  padding: 0;
}
.navbar ul{
  height: 20px;
  padding-left: 0px; 
}
.navbar li{
  display: inline-block;  
}
.active a:visited{
  color: #dedede;;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  text-decoration: none;
  padding:3px 6px 3px 6px;
  text-align: center;
}
.navbar a{
  width:10px;
  color: #767e9e;
  text-decoration: none;
  padding:3px 6px 3px 6px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 20px;
  border:1px solid #767e9e;
  border-radius: 5px;
  text-align: center;

}
.navbar a:hover{
  cursor: pointer;
  text-decoration: none;
  color: #dedede;
  border: 1px solid #c5c5c5;
  padding:3px 6px 3px 6px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  width: 220px;
  height: 187px; 
 
}

.bgbottom{
  height: 6px;
  background-color: #323746;
}

.footer {
  height: 728px;
  background-color: #f2f2f2;
  padding: 40px;
}

.text h1{
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}
.text p{
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  font-family: "Lato";
  text-align: left;
}

.img {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  width: 300px;
  height: 300px; 
}
.personinfo{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-gap:20px;
}

.social {
  display: inline-block;
}
.text p{
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300; 
}

.social h1{
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-top: 10px;
}

.social p{
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
}

.media img {
  display:inline-block;
  width: 32px;
  height: 32px;
  padding-right:6px;  
}
.bg {
  height: 6px;
  background-color: #ffffff;
}