
body{
  font-family: 'Lato', sans-serif;
  padding:0;
  margin:0;
}

.header {
  height: 784px;
  background-color: #2d303a;
  padding:40px;
  padding-left: 205px;
  border-bottom: 6px solid #323746;
 }

.header h1 {
  font-size: 30px;
  line-height: 14px;
  color: #666d89;
  font-weight: 900; 
  text-align: left;
  margin-top:31px; 
}

.header p {
  height: 0px;
  font-size: 18px;
  font-weight: 300;
  line-height: 50px;
  color: #767e9e;
}


.navbar{
  display: inline;

}
.navbar ul{
  height: 20px;
  margin-left:-39px;
  margin-top: 49px;
}
.navbar li{
  display: inline-block; 
}


.navbar a{
  color: #767e9e;
  text-decoration: none;
  padding:2px 6px 3px 6px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  border:1px solid #767e9e;
  border-radius: 5px;
  text-align: center;
  margin-right: 8px;
}

.active a:visited {
  color: #dedede;
  border: 1px solid #c5c5c5;
  text-decoration: none;
}

.navbar a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  width: 220px;
  height: 187px;
  padding-top:4px;
}


.footer {
  height: 728px;
  padding: 0px;
  margin-top: -20px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
.aboutus{
  width:950px;
  padding-left: 205px;
}

.aboutus h1{
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-top: 68px;
  letter-spacing: -0.1px;
}
.aboutus p{
  padding-top: 7px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  word-spacing: 1px;
}

.img {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  width: 300px;
  height: 300px; 
  padding-left: 205px;
  padding-top: 27px;
}
.personinfo{
  display:grid;
  grid-template-columns: 310px 310px 310px;
  grid-gap:10px;
  padding-left: 203px;
}

.social {
  display: inline-block;
}

.social h1{
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-top:5px;
}

.social p{
  width: 305px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
  margin-top: -2px;
  padding-left: 1px;
  word-spacing: -0.1px;
}
.media{
  padding-top: 12px;
  padding-left: 3px;
}

.media img {
  display:inline-block;
  width: 32px;
  height: 32px;
  padding-right:5px;  
}
