
body{
  font-family: 'Lato', san-serif;
  color: #2d303a;
  padding: 0px;
  margin:0px;
}

.header {
  height: 784px;
  background-color: #2d303a;
  padding:40px;
 }

.header h1 {
  font-size: 30px;
  line-height: 14px;
  color: #666d89;
  font-weight: 900px; 
  text-align: left;
  margin-top:31px; 
}

.header p {
  height: 0px;
  font-size: 18px;
  line-height: 50px;
  color: #767e9e;
  font-weight: 100px;
}


.navbar{
  display: inline;
}
.navbar ul{
  height: 20px;
  margin-left:-40px;
  margin-top: 50px;
}
.navbar li{
  display: inline-block; 
}
.active a:visited{
  color: #dedede;;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  text-decoration: none;
  padding:3px 6px 3px 6px;
  text-align: center;
}
.navbar a{
  width:10px;
  color: #767e9e;
  text-decoration: none;
  padding:3px 6px 3px 6px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 20px;
  border:1px solid #767e9e;
  border-radius: 5px;
  text-align: center;
}

.navbar a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #dedede;
  border: 1px solid #c5c5c5;
  padding:3px 6px 3px 6px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  width: 220px;
  height: 187px;
  padding-top:4px;
}

.bgbottom{
  height: 6px;
  width: 100%;
  background-color: #323746;
}

.footer {
  height: 728px;
  padding: 0px;
  margin-top: -20px;
  background-color: #f2f2f2;
}
.aboutus{
  width:950px;
  padding-left: 40px;
}

.aboutus h1{
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900px;
  text-align: left;
  padding-top: 68px;
}
.aboutus p{
  padding-top: 7px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300px;
  font-family: "Lato";
  text-align: left;
}

.img {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  width: 300px;
  height: 300px; 
  padding-left: 40px;
  padding-top: 27px;
}
.personinfo{
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap:20px;
  padding-left: 38px;
}

.social {
  display: inline-block;
}

.social h1{
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900px;
  text-align: left;
  padding-top:5px;
}

.social p{
  width: 305px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400px;
  text-align: left;
  margin-top: 8px;
}
.media{
  padding-top: 10px;
  padding-left: 2px;
}

.media img {
  display:inline-block;
  width: 32px;
  height: 32px;
  padding-right:6px;  
}
.bg {
  height: 6px;
  background-color: #ffffff;
}